body {
  position: relative;
  margin: 0;
}

body::before {
  content: "";
  background: url("info.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
}

section p{
  text-align: right;
}

h1 {
  text-align: center;
  color: #00ffec;
}

a{
  padding: 0 5px;
}
