body::before {
  background: url("info.jpg") no-repeat center center;
  opacity: 0.2;
}

section p{
  text-align: right;
}

h1 {
  text-align: center;
  color: #00ffec;
}

a{
  border-spacing: 5px;
}

#h1_veille {
  text-align: left;
  color: black;
}

#p_veille{
  padding-left: 10px;
}
